{% render 'partials/head.liquid' %}

<h1>Nieuws</h1>
<input type="text" placeholder="Zoek in nieuws...">

<details>
    <summary>Sorteer</summary>
    <a href="">Nieuw-oud</a>
    <a href="">Oud-nieuw</a>
</details>

<section>
    <img src="/dragersindamsko.webp">
    <h2>De Buurtcampus in drie vragen: een korte gids</h2>
    <p>De Buurtcampus is een leeromgeving van de Hogeschool van Amsterdam in samenwerking met de Openbare Bibliotheek van Amsterdam. Drie Buurtcampussen in verschillende stadsdelen - Zuidoost, Nieuw-West en Oost - richten zich op actuele uitdagingen in de wijken van Amsterdam.</p>
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-calendar-icon lucide-calendar"><path d="M8 2v4"/><path d="M16 2v4"/><rect width="18" height="18" x="3" y="4" rx="2"/><path d="M3 10h18"/></svg>
        <span>2024-11-28</span>
    </div>
</section>