* {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Arial-reg;
    src: url(/arial.ttf);
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial-reg;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 0.5em;
}

p {
    font-family: Arial-reg;
}

nav {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 1em;
    background-color: white;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.1);

    svg {
        align-self: center;
    }
}

.bc-hva-logo {
    width: 254px;
    height: 54px;
}

input {
    width: calc(100% - 2rem);
    margin-inline: 1rem;
    padding: 0.5rem;
}

.grid-container {
    display: grid;
    /* width: fit-content; */
    margin: 1em;
}

.test-news {
    img {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
    }

    p, span {
        color: #545964;
        padding-block: 0.5em;
    }

    time {
        display: flex;
        align-items: center;
        gap: 0.2em;
        padding-block: 0.5em 2em;

        svg {
            stroke: #545964;
        }
    }
}